{% extends "dashboard/base_dashboard.html" %}
{% load static %}

{% block titulo %}Candidatar-se à Vaga{% endblock %}

{% block conteudo %}

<div class="candidatar-wrapper">

    <!-- Título -->
    <div class="title-dashboard mb-4">
        <i class="bi bi-send-check me-2"></i>
        <span>Candidatar-se à vaga</span>
    </div>

    <!-- CARD DA VAGA -->
    <div class="vaga-detail-card mb-4 ">
        <h3 class="fw-bold mb-3 ">{{ vaga.titulo }}</h3>

        <div class="vaga-detail-header ">
            <i class="bi bi-building me-2"></i>
            <span class="vaga-empresa">
                {{ vaga.empresa.nome|default:vaga.empresa.email }}
            </span>
        </div>

        <p class="vaga-detail-desc  mt-3">
            {{ vaga.descricao|linebreaksbr }}
        </p>
    </div>

    <!-- FORM DE CANDIDATURA -->
    <div class="candidatura-card mb-4">
        <h5 class="fw-bold mb-3 " style="color:#5936A3;">
            <i class="bi bi-envelope-paper"></i> Enviar candidatura
        </h5>

        <form method="post" class="form-styled">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn-apply w-100 mt-3">
                <i class="bi bi-check-circle me-1"></i>
                Confirmar candidatura
            </button>
        </form>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'linkif:para_estudantes' %}" class="btn-go-back">
            <i class="bi bi-arrow-left"></i> Voltar para vagas
        </a>
    </div>

</div>

{% endblock %}
