{% load django_tables2 %}

<div class="linkif-table-wrapper">

    <table {% render_attrs table.attrs %}>
        <thead>
            <tr>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }}>
                        {{ column.header }}
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody id="table-body">
            {% for row in table.rows %}
                {% include "dashboard/partials/_linha_tabela.html" with row=row %}
            {% empty %}
                <tr>
                    <td colspan="{{ table.columns|length }}" class="text-center py-4">
                        Nenhum registro encontrado.
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
