{% load static %}

<nav class="cor navbar navbar-expand-lg shadow-sm fixed-top">
  <div class="container">
   <a class="navbar-brand" href="/">
  <img src="{% static 'assets/img/logo.png' %}" alt="Logo LinkIF">
</a>

 

    <!-- LINKS -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="/">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#estudante">Para Você</a></li>
        <li class="nav-item"><a class="nav-link" href="#empresas">Para Empresas</a></li>
        <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
      </ul>

      <!-- BOTÕES DIREITA -->
      <div class="ms-3 d-flex">
        {% if user.is_authenticated %}
          <a href="{% url 'usuarios:logout' %}" class="btn-entrar me-2">Sair</a>
          <a href="{% url 'index' %}" class="btn-cadastrese">Dashboard</a>
        {% else %}
          <a href="{% url 'usuarios:login' %}" class="btn-entrar me-2">Entrar</a>
          <a href="{% url 'usuarios:cadastro' %}" class="btn-cadastrese">Cadastre-se</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
