<nav class="cor navbar navbar-expand-lg shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{{ site_config.get_logo_url }}" alt="Logo LinkIF">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Início</a></li>
        <li class="nav-item"><a class="nav-link" href="#sobre">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="#estudante">Para Você</a></li>
        <li class="nav-item"><a class="nav-link" href="#empresas">Para Empresas</a></li>
        <li class="nav-item"><a class="nav-link" href="#contato">Contato</a></li>
      </ul>

      {% if user.is_authenticated %}
        <div class="ms-3 d-flex align-items-center">
          <a href="{% url 'notificacoes' %}" class="btn btn-outline-secondary me-2">Notificações</a>
          <a href="{% url 'logout' %}" class="btn btn-danger">Sair</a>
        </div>
      {% else %}
        <div class="ms-3">
          <a href="{% url 'login' %}" class="btn-entrar me-2">Entrar</a>
          <a href="{% url 'cadastro' %}" class="btn-cadastrese">Cadastre-se</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
