{% extends "dashboard/base_dashboard.html" %}
{% load django_tables2 %}
{% load static %}

{% block titulo %}Acompanhar vagas{% endblock %}

{% block conteudo %}

<h2 class="title-dashboard mb-4">
    <i class="bi bi-flag me-2"></i>
    Acompanhar vagas
</h2>

<!-- ================================
     TABELA DE VAGAS — INCLUÍDA
================================= -->
{% include 'dashboard/partials/_tabela.html' with table=table %}


{% endblock %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
